.button {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  font-smoothing: antialiased;
  line-height: 1;
  transition: 300ms;
  text-align: center;
  margin: 0 auto;
}

.button:not(.button--minimal) {
  border: 2px solid var(--white);
  border-radius: 20px;
  margin: 2rem auto;
  padding: 0.7rem 3rem 0.5rem;
  text-transform: uppercase;
}

.button:hover {
  color: var(--pink);
}

.button:hover:not(.button--minimal) {
  background-color: var(--white);
}
