.button {
  display: block;
  margin: 2rem auto;
  background: none;
  border: 2px solid var(--white);
  color: var(--white);
  cursor: pointer;
  font: inherit;
  font-weight: 600;
  font-smoothing: antialiased;
  line-height: 1;
  border-radius: 20px;
  padding: 0.7rem 3rem 0.5rem;
  transition: 300ms;
  text-transform: uppercase;
}

.button:hover,
.button:focus {
  background-color: var(--white);
  color: var(--pink);
  outline: none;
}
