.Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
  width: 100vw;
}

.Cards__card {
  align-items: center;
  border: 3px solid var(--white);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  min-height: 300px;
  width: 100%;
  padding: 1rem;
  position: relative;
}

@media screen and (min-width: 600px) {
  .Cards__card {
    margin: 2rem 1rem 0;
    width: 40%;
  }
}

@media screen and (min-width: 900px) {
  .Cards__card {
    width: 30%;
  }
}

.Cards__img-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.Cards__img-container::after {
  background: linear-gradient(to bottom right, black, var(--midnight));
  background-attachment: fixed;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
  position: absolute;
}

.Cards__img {
  filter: grayscale(1);
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.Cards__content {
  position: relative;
  z-index: 2;
}
