.range {
  appearance: none;
  border-radius: 0.25rem;
  height: 0.25rem;
  margin: 1rem 0;
  width: 12rem;
}

/* Firefox */
.range::-moz-range-track {
  appearance: none;
  background-color: var(--white);
  border-radius: 0.25rem;
  height: 0.25rem;
  width: 10rem;
}

/* Chrome and Safari */
.range::-webkit-slider-thumb {
  appearance: none;
  border: 0.25rem solid var(--white);
  border-radius: 1rem;
  background-color: var(--pink);
  cursor: pointer;
  height: 1.2rem;
  width: 1.2rem;
}

/* Firefox */
.range::-moz-range-thumb {
  appearance: none;
  background-color: var(--pink);
  border: 0.25rem solid var(--white);
  border-radius: 1rem;
  cursor: pointer;
  height: 1.2rem;
  width: 1.2rem;
}
