.app {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 900px;
  padding: 1rem 2rem 10rem;
  position: relative;
  width: 100vw;
}

.app__content {
  box-sizing: border-box;
  left: 0;
  margin: 0 auto 2rem;
  position: absolute;
  top: 0;
  width: 100%;
}

.app__content--text {
  border-top: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
  font-size: 1.4rem;
  line-height: 1.2;
  padding: 3rem 2rem 2rem;
  -webkit-backdrop-filter: blur(2px); /* Only supported in Safari */
  backdrop-filter: blur(2px);
}

.app__headline {
  font-size: 2.5rem;
  margin: 0;
}

/* -----------------------------------------------------------------------------
  TRANSITIONS BETWEEN PAGES (FROM REACT'S CSSTransitionGroup)
-----------------------------------------------------------------------------*/

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in 200ms;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 250ms ease-in;
}
