@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700');

/*------------------------------------------------------------------------------
  GENERAL STYLING
------------------------------------------------------------------------------*/
:root {
  --blue: #1A00A0;
  --cotton: #FFD3E1;
  --white: #F8F8F8;
  --midnight: #3b386e;
  --lightpink: #FFBBD1;
  --pink: #FF4582;
  --purple: #8E08A0;
  --red: #b00505;
}

body, html {
  color: var(--white);
  font-size: 16px;
  margin: 0;
}

body {
  background: url('./img/cover.jpg') center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  width: 100vw;
  z-index: 0;
}

.wrapper {
  margin: 0 auto;
  width: 90vw;
}
/*------------------------------------------------------------------------------
  GENERAL TYPOGRAPHY
------------------------------------------------------------------------------*/
h1 {
  font-weight: 700;
  font-size: 3.5rem;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  font-size: 1.3rem;
}

button,
button:focus,
button:hover,
input,
select {
  font: inherit;
  font-weight: 600;
  outline: none;
  text-align: center;
}

a, button {
  color: var(--white);
  text-decoration: none;
}
