.Link {
  color: var(--white);
  text-decoration: none;
  padding-bottom: 0.2em;
  border-bottom: 2px solid transparent;
  transition: border 450ms ease;
}

.Link:hover {
  border-bottom: 2px solid var(--white);
}
