.link {
  border-bottom: 2px solid transparent;
  color: var(--white);
  padding-bottom: 0.2em;
  text-decoration: none;
  transition: border 450ms ease, color 450ms ease;
}

.link:hover {
  border-bottom: 2px solid var(--white);
}

.link--pink {
  border-bottom: 2px solid var(--lightpink);
  color: var(--lightpink);
}

.link--pink:hover {
  color: var(--white);
}
